{% extends "base.html" %}
{% block content %}
<html lang="ru">
    {% if char_info['name'] %}
    <h1>{{ char_info['name'] }}</h1>
    {% if char_info['source'] %}
    <h2>из {{ char_info['source'] }}</h2>
    {% endif %}
    {% if char_info['image'] %}
    <img src='{{ char_info['image'] }}' class="img-thumbnail"
    alt={{ char_info['name'] }}>
    {% endif %}
        <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">День рождения:</th>
      <td>{{ char_info['birthdate'] }}</th>
      </tr>
      </thead>
  <tbody>
    <tr>
      <th scope="col">Роль в сюжете:</th>
      <td>{{ char_info['role'] }}</td>
    </tr>
    <tr>
      <th scope="col">Первое появление:</th>
      <td>{{ char_info['appearance'] }}</td>
    </tr>
    <tr>
      <th scope="col">Рост:</th>
      <td>{{ char_info['height'] }}</td>
    </tr>
    <tr>
      <th scope="col">Вес:</th>
      <td>{{ char_info['weight'] }}</td>
    </tr>
    <tr>
      <th scope="col">Актер озвучки:</th>
      <td>{{ char_info['va'] }}</td>
    </tr>
    <tr>
      <th scope="col">Также известен как:</th>
      <td>{{ char_info['nicknames'] }}</td>
    </tr>
  </tbody>
    {% else %}
          <div class="alert alert-warning" role="alert">
          Этой страницы не существует
          </div>
    {% endif %}
    <a href="/edit_article/{{char_info['id']}}" 
    class="btn btn-primary">Редактировать страницу</a><br>
    </div>
    {% if name == 'admin' %}
    <a href="/delete_article/{{char_info['id']}}"
    class="btn btn-primary">Удалить страницу</a><br>
    </div>
    {% endif %}
    {% if char_info['description'] %}
        <div class="card">
      <div class="card-body">
       {{ char_info['description'] }}
      </div>
    </div>
    {% endif %}
{% endblock %}