{% extends "base.html" %}
{% block content %}
    <body>
    <div class="container">
      <div class="row">
    {% for item in characters['characters'] %}
      <div class="col-md-4 mb-4">
      <div class="card" style="width: 18rem;">
    <img src='{{item['image']}}' class="card-img-top" alt="{{item['name']}}">
    <div class="card-body">
    <div class="card-block">
      <h5 class="card-title">{{item['name']}}</h5>
      {% if item['title'] %}
        <p class="card-text"><b>{{'Откуда: ' + item["title"] + '\n'}}</b></p>
      {% endif %}
      {% if item['description'] %}
        <p class="card-text">{{item["description"][:137] + '...'}}</p>
      {% else %}
        <p class="card-text">Об этом персонаже ничего не известно</p>
      {% endif %}
      <a href="/characters/{{item['name']}}-{{item['title']}}"
      class="btn btn-primary">Перейти на страницу</a>
    </div>
    </div>
    </div>
    </div>
    {% endfor %}
    </div>
    </div>
    </body>
{% endblock %}