{% extends "base.html" %}
{% block content %}
<html lang="ru">
    {% if char_info['name'] %}
        <div class="card" style="width: 35rem;">
        <img src='{{char_info['image']}}' class="card-img-top"
        alt="{{char_info['name']}}">
        {% if char_info['quote'] %}
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>{{char_info['quote']}}</p>
            </blockquote>
          </div>
        {% endif %}
        <div class="card-body">
        <h5 class="card-title">{{char_info['name']}}</h5>
        {% if char_info['title'] %}
          <p class="card-text"><b>{{'Откуда: ' + char_info["title"] + '\n'}}</b></p>
        {% endif %}
          {% if char_info['description'] %}
            <p class="card-text">{{char_info["description"]}}</p>
          {% else %}
            <p class="card-text">Об этом персонаже ничего не известно</p>
          {% endif %}
        {% else %}
          <div class="alert alert-warning" role="alert">
          Этой страницы не существует
          </div>
    {% endif %}
{% endblock %}