{% extends "base.html" %}
 
{% block content %}
    <html lang="en">
  <head>
    <title>Главная страница</title>
  </head>
  <body>
  <div class="jumbotron jumbotron-fluid" style="background:
  linear-gradient(rgba(0, 0, 250, 0.25), rgba(125, 250, 250, 0.45))">
  <div class="container">
    <h1 class="display-4">Добро пожаловать, {{ name }}</h1>
    Сайт Wikicharia является каталогом персонажей из различных сериалов, книг, 
    игр и прочих произведений. <br>
    Каждый авторизованный пользователь может создать 
    или изменить статью о персонаже. Статьи удаляются только администратором.
  </div>
</div>
<div class="alert alert-warning" role="alert">Самый популярный персонаж: <br>
<h1><a href="/characters/{{fav['id']}}">{{fav['name']}}</a></h1>
</div>
<a href="/add">Добавить статью</a>
{% if deleted %}
  <div class="alert alert-warning" role="alert"> Удаление проведено успешно
  </div>
{% endif %}
{% for item in news %}
    <div class="alert alert-dark" role="alert">
        <h2><p style="color:gray">Статья от {{item['creation_date']}}:</h2>
        <h1><a href="/characters/{{item['id']}}">{{item['name']}}</a></h1>
        <div>{{item['source']}}</div>
        {% if name == 'admin' %}
        <a href="/delete_article/{{item['id']}}">Удалить новость</a>
        {% endif %}
    </div>
{% endfor %}
  </div>
</div>
  </body>
{% endblock %}